<div class="container py-5">
    <div class="row">
        <div class="col-md-12">           
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form name="form" (ngSubmit)="loginForm.form.valid && onSubmitCheck()" #loginForm="ngForm" id="formLogin" novalidate>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" placeholder="Username" name="username" [(ngModel)]="loginModel.username" #username="ngModel" class="form-control form-control-lg rounded-0" name="username" id="username" required>
                                    <div class="invalid-feedback" *ngIf="loginForm.submitted && !username.valid">Enter your Username</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" placeholder="Password" name="password" [(ngModel)]="loginModel.password" #password="ngModel" class="form-control form-control-lg rounded-0" id="password" required>
                                    <div class="invalid-feedback" *ngIf="loginForm.submitted && !password.valid" >Enter your password too!</div>
                                </div>
                                <div>
                                    <span class="note">Note: Enter all fields and go access todo list</span>
                                </div>
                                <button type="submit" class="btn btn-success btn-sm float-right" id="btnLogin">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
